body {
    background-color: #f5f5f5;
    color:#435d7d;
    font: "Varela Round", "sans-serif";
    font-size: 13px;
}

.container {
    padding:10px;
}

.navbar {
    background-color:#435d7d;
    border-radius: 5px;
}

.navbarTitle {
    color: white;
    font: "Varela Round", "sans-serif";
    font-size: 24px;
    margin: 10px;
    /* padding: 10px */
}

.main {
    background-color: white;
    border-radius: 5px;
    /* margin: 5px; */
    padding: 20px
}

.filter {
    padding: 20px;
}

th {
    color: #566787;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

#btnEditRecord {
    color: #ffc107;
    border: none;
}

#btnDeleteRecord {
    color:#f44336;
    border: none;
}

.modal-footer {
    background-color: #ecf0f1;
}

